@model CustomerSearchFormViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des clients</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <form method="get">
        <div class="form-group">
            <input class="form-control" asp-for="Search" placeholder="Rechercher par nom, prénom ou email" />
        </div>
        <button class="btn btn-outline-secondary mt-3">Rechercher</button>
    </form>
</div>
@if (Model.Results.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Results.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Results.First().LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Results.First().FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Results.First().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Results.First().BookingsNb)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingsNb)
                    </td>
                    <td>
                        @Html.ActionLink("Editer", "Update", new { id = item.Id }) |
                        
                        <a 
                            asp-controller="Customer" 
                            asp-action="Delete" 
                            asp-route-id="@item.Id"
                            class="deleteLink"
                        >
                            X
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <p>Aucun résultat ne correspond à votre recherche.</p>
}

@section Scripts {
    <script>
        const deleteLinks = document.querySelectorAll('.deleteLink');

        for(let link of deleteLinks) {
            link.addEventListener('click', e =>{
                // annuler le comportement pas défaut
                e.preventDefault();
                xdialog.confirm('Confirmer la suppression', () => {
                    // recupérer le lien sur lequel on a cliqué
                    let l = e.target;
                    window.location.href = l.href;
                });
            })
        }
    </script>
}