﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookingManager.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/BookingManager.MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.css">
</head>
<body>

    <partial name="Partials/Header" />

    <div class="container">
        <main role="main" class="pb-3">
            @* @if(TempData.ContainsKey("error")) {
                <p class="text-danger">@TempData["error"]</p>
            }
            @if (TempData.ContainsKey("success"))
            {
                <p class="text-success">@TempData["success"]</p>
            } *@
            @RenderBody()
        </main>
    </div>

    <partial name="Partials/Footer" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/xxjapp/xdialog@3/xdialog.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @if (TempData.ContainsKey("success"))
    {
        <script>
            toastr.success("@TempData["success"]");
        </script>
    }
    @if (TempData.ContainsKey("error"))
    {
        <script>
            toastr.error("@TempData["error"]");
        </script>
    }
</body>
</html>